{% extends 'base.html.twig' %}

{% block title %}Exercice 1 - Couleurs{% endblock %}

{% block body %}
    <h1 style="color: {{ color }}">{{ color }}</h1>

    {% if color == 'red' %}
        <p style="color: red">Attention, risque de virus</p>
    {% endif %}
{% endblock %}
